
body{
    background-color: rgb(149, 114, 182);
    text-align: center;
    font-size: 32px;
    margin-top: 5%;
}
button{
    padding: 10px;
    color: black;
    background-color: rgb(224, 141, 206);
    font-size: 20px;

}
